@import url('https://fonts.googleapis.com/css?family=Gaegu');


html{
    background-color: coral;
    font-family: 'Gaegu', cursive;
}

body{
    background-color: rgba(249, 164, 222, .4);
    width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
}


p{
    background-color: aqua;
    padding: 10px;
    margin-left: 35%;
    width: 500px;
    font-size: 20px;
}

img{
    width: 300px;
    display: block;
    margin: 0 auto;
}

ul li{
    list-style: none;
    margin: 0;
    display: inline-block;
}
